html * {
  font-family: "M PLUS 1 Code", sans-serif;
}

body {
  background-color: #d9d7db;
}

header {
  margin: 8px max(0px, calc((100% - 800px) * 0.3)) 2em;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 4em 4em 4em;
  background-color: #fff;
}

section {
  margin: 2em 0;
}

p {
  margin: 0.5em 0;
  line-height: 1.4;
  text-indent: 0.5em;
}

#section-images {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

#section-images > figure {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-images > figure > img {
  margin: 1em;
}

.youtube {
  width: 100%;
  aspect-ratio: 1.778;
}
.youtube > iframe {
  width: 100%;
  height: 100%;
}

ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 1em;
}
li:before {
  counter-increment: item;
  content: counter(item) ".";
  font-size: 1.2em;
  padding-right: 0.3rem;
}

#muse-img {
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

details {
  background: #fff;
  border: 1px solid #181818;
  border-radius: 6pt 6pt 0 0;
  margin: 1em 0;
}

summary {
  font-weight: 700;
  padding: 1em;
}
summary:focus {
  outline: 2px solid #181818;
}

.wrap-details {
  padding: 1em;
}
