html * {
  font-family: "M PLUS 1 Code", sans-serif;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#section-images {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

#section-images > figure {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-images > figure > img {
  margin: 1em;
}
